node_modules
public/hot
public/storage
public/static
public/index.html
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/aproton.sqlite
